<div class="jumbotron text-center">
  <button class="btn btn-primary btn-lg" (click)="tirarDados()">Tirar Dados</button>
  <br>
  <img class="img" [src]="dadoIzquierda">
  <img class="img" [src]="dadoDerecha">
  <h1 *ngIf="numero1 === numero2"><span class="badge rounded-pill bg-danger">GANASTE</span></h1>
  <div>
    <button type="button" class="btn btn-primary position-relative">
      Intentos
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{numero}}
      </span>
    </button>
  </div>
</div>
